body{
    font-family: montserrat;
    background-color: rgb(242,244,247);
}

#logo {
    color: rgb(8,102,255); 
    font-size: 40px;
    margin-left: 250px;
    margin-top: 230px;
}

#sentences{
    color: black; 
    margin-left: 240px;
    font-size: 24px;
    margin-top: -10px;
}

.eee{ 
    background-color: white;
    padding: 40px 40px; 
    margin-left: 800px;
    border-radius: 10px;
    width: 340px; 
    height: 270px;
    margin-top: -300px;
    size: 50px; 
    box-shadow: 0 8px 25px rgba(0, 0, 0, 0.15);
}

#fname {
    width: 110%;
    height: 48px;              
    padding: 0 14px;           
    font-size: 16px;           
    border: 2px solid #ccc;    
    border-radius: 8px;        
    outline: none;
    box-sizing: border-box;
    margin-left: -16px;
}

#lname{
    width: 110%;
    height: 48px;              
    padding: 0 14px;           
    font-size: 16px;           
    border: 2px solid #ccc;    
    border-radius: 8px;        
    outline: none;
    box-sizing: border-box;
    margin-top: 10px;
    margin-left: -16px;
}


#button{
    width: 110%;
    height: 48px;              
    padding: 0 14px;           
    font-size: 16px;           
    border-radius: 8px;        
    margin-top: -2px;
    margin-left: -16px;
    background-color: rgb(8,102,255);
    border-color: rgb(8,102,255);
    color: white;
    font-family: montserrat;
}

#forgot{
    text-align: center;
    color:rgb(8,102,255);
    margin-top: 20px;
    font-size: 12px;
}

#forgot:hover{
    text-decoration: underline;
}

#button2{
    background-color: rgb(66,183,42);
    height: 32px;
    color: white;
    border-color: rgb(66,183,42);
    border-radius: 5px;
    margin-left: 78px;
    margin-top: 10px;
    font-weight: bold;
    padding: 0 14px; 
    font-family: montserrat;
}

#button2:hover{
    background-color: green;
}

#sent2{
    margin-top: 26px;
    margin-left: 810px;
    font-size: 13px;
}

.create-page {
    color: black;
    text-decoration: none;
    font-weight: bold;
}

.create-page:hover {
    text-decoration: underline;
}

#photo{
    width: 320px;
    margin-top: 200px;
    margin-left: 210px;
}