#logo {
    width: 60px;
    margin-left: 50px;
    margin-top: 25px;
}

.title {
    text-align: center;
    font-size: 48px;
    font-family: serif;
    max-width: 700px;   
    margin: 0 auto;     
    line-height: 1.3;
    margin-left: 100px;
}

.orange {
    color: orange;
}

.pink {
    color: deeppink;
}

#photo{
    width: 420px;
}

.vertical-line {
    width: 2px;
    height: 727px;
    background-color: gray;
    margin-left: 770px;
    margin-top: -680px;
}

